name: maestroveteriner_maker
description: Simple planner app with reminder feature
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

  # Reminders & storage
  flutter_local_notifications: ^17.2.3
  timezone: ^0.9.2
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  uuid: ^4.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
